html, body {
  ::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  scrollbar-width: none;
  writing-mode: vertical-rl;
  margin: 0;
}

.container-wrapper {
  margin: 50px;
  border-top: 1px solid #e3e3db;
  border-bottom: 1px solid #e3e3db;
  border-left: 1px solid #e3e3db;
}

.container {
  margin: -1px 0 0 0;
  background: url("../img/ruler.svg");
  background-position: calc(100% + 12px) top;
}