@font-face {
  font-family: "Honoka";
  src: url("/fonts/honokamin.woff") format("woff"), url("/fonts/honokamin.ttf") format("truetype");
}

html, body {
  ::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Honoka", serif;
  writing-mode: vertical-rl;
  margin: 0;
}

.container-wrapper {
  margin: 50px;
  border-top: 1px solid #e3e3db;
  border-bottom: 1px solid #e3e3db;
  border-left: 1px solid #e3e3db;
}

.container {
  margin: -1px 0 0 0;
  background: url("/img/ruler.svg");
  background-position: calc(100% + 12px) top;
}

p, h1, h2, h3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  .tategaki-character {
    display: grid;
    place-items: center;
    margin-left: 12px;
  }
}

p .tategaki-character {
  font-size: 120%;
  width: 23px;
  height: 23px;
}

h1 .tategaki-character {
  font-size: 140%;
  width: 58px;
  height: 46px;
}

h2 .tategaki-character {
  font-size: 120%;
  width: 58px;
  height: 46px;
}

h3 .tategaki-character {
  font-size: 120%;
  width: 58px;
  height: 23px;
}