<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/favicon/favicon.svg">
  <title>LAJ2203 Writing</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div id="loading" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    background: white; z-index: 1000; font-size: 25px; display: grid; place-items: center;">
    <div>
      <h1>ローディング</h1>
      <p>ちょっと待ってください。</p>
    </div>
  </div>
  <div class="container-wrapper">
    <div class="container">
      {{ content }}
    </div>
  </div>

  <script type="module" src="/js/index.js"></script>
</body>
</html>
<!--
.--------------------------------------------------------------.
| I love tategaki! For Japanese, vertical writing > horizontal |
| writing, don't tell me otherwise.                            |
|                                              joulev @ github |
'--------------------------------------------------------------'
                                          \         ⌒
                                           \   ___/ • )
                                              '---,  /
                                                  ▷.◁____/")
                                                  \   \)  /
                                                   \_____/
                                                     _|_|
-->